:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-violet: hsl(271, 36%, 24%);
  --grayish-violet: hsl(270, 7%, 64%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --white: hsl(0, 0%, 100%);
  --very-light-magenta: hsl(289, 100%, 72%);
}
* {
  box-sizing: border-box;
}

body {
  font: 16px "Rubik", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--light-grayish-violet);
  overflow: hidden; /* To hide horizontal scrollbar of bottom background */
}

.root_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr;
}

.top_background {
  width: 600px;
  height: 600px;
  background: linear-gradient(var(--light-magenta), var(--light-violet));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: -150px;
  left: -420px;
  z-index: -1;
}

.bottom_background {
  width: 500px;
  height: 600px;
  background-color: var(--grayish-blue);
  opacity: 0.1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  z-index: -1;
  bottom: -250px;
  right: -250px;
}

.main__text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__heading {
  color: var(--very-dark-violet);
  font-weight: 600;
  text-align: center;
}

.text__description {
  color: var(--grayish-violet);
  opacity: 0.8;
  line-height: 1.5;
  text-align: center;
  max-width: 450px;
}

.main__phone_container {
  border: 1px solid var(--white);
  border-radius: 30px;
  padding: 12px;
  background-color: var(--white);
  max-width: 300px;
  box-shadow: 14px 22px 35px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 14px 22px 35px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 14px 22px 35px 1px rgba(0,0,0,0.25);
}

.phone__inner_container {
  display: grid;
  grid-template-columns: 1fr;
}

.phone__camera {
  background-color: var(--white);
  width: 60%;
  height: 30px;
  border-radius: 48px;
  margin-top: -12px;
  align-self: center;
}

.phone__header {
  background: linear-gradient(45deg, var(--light-violet), var(--light-magenta));
  display: flex;
  flex-direction: column;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 20px 20px 8px 8px;
}

.header__inner_container {
  display: flex;
  padding: 15px;
  flex-direction: row;
  color: var(--white);
  align-items: center;
}

.header__back,
.header__menu {
  text-decoration: none;
  color: var(--white);
}

.contact__name,
.contact__status {
  display: block; /* To get them on separate lines */
}

.contact__status {
  margin-top: 3px;
  font-size: 12px;
  color: var(--pale-violet);
}

.header__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
}

.header__left_container {
  display: flex;
  flex: 1; /* So it takes the most space */
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
}

.header__left_container > * {
  margin: 0 7px; /* To add spacing between header elements */
}

.phone__conversation {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  padding: 10px;
  font-size: 10px;
  background-color: var(--light-grayish-violet);
  border-radius: 0 0 20px 20px;
}

.conversation__sent_message {
  background-color: hsl(275, 57%, 91%);
  color: var(--moderate-violet);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

/* Shared between sent and received chat bubbles */
.conversation__bubble {
  max-width: 65%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  max-height: 100px;
  box-shadow: 14px 22px 35px -31px rgba(0,0,0,0.25);
  -webkit-box-shadow: 14px 22px 35px -31px rgba(0,0,0,0.25);
  -moz-box-shadow: 14px 22px 35px -31px rgba(0,0,0,0.25);
}

.conversation__received_message {
  background-color: var(--white);
  color: var(--dark-violet);
  border-bottom-left-radius: 10px;
  justify-self: end;
  border-bottom-right-radius: 3px;
}

.conversation__image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.conversation__received_image {
  padding: 5px;
  border-radius: 25%;
  height: 60px;
  width: 60px;
}

.conversation__walk_option {
  display: flex;
  flex-direction: row;
  color: var(--white);
  background: linear-gradient(45deg, var(--light-magenta), var(--light-violet));
  max-width: 75%;
  border-bottom-right-radius: 10px;
  justify-content: flex-start;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.walk_option__description {
  align-self: center;
  flex: 1;
}

.walk_option__option {
  margin-right: 15px;
  line-height: 1.5; /* To push circle down */
}

.walk_option__option_icon {
  opacity: 0.5;
}

.walk_option__price {
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

.conversation__text_box {
  border-radius: 50px;
  background-color: var(--white);
  display: flex;
  padding: 5px;
  align-items: center;
  margin-top: 10px;
}

.text_box__placeholder {
  color: var(--grayish-blue);
  flex: 1;
  margin-left: 15px;
}

.text_box__submit {
  background-color: var(--very-dark-violet);
  color: var(--white);
  border-radius: 50%;
  display: flex; /* to get the round shape */
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--very-light-magenta);
  width: 25px;
  height: 25px;
}

.text_box__submit > i {
  margin-bottom: 1px;
  margin-left: 1px;
}

/* Screens bigger than 500px */
@media screen and (min-width: 500px) {
  .text__heading {
    text-align: center;
  }

  body {
    overflow: visible;
  }

  .main_container {
    justify-items: center;
  }

  .main__text_container {
    margin-top: 5vh;
  }
}

/* Screens bigger than 900px */
@media screen and (min-width: 900px) {
  .text__heading {
    text-align: center;
  }
  
  .main_container {
    grid-template-columns: 1fr 1fr;
  }

  .main__text_container {
    margin-top: 30vh;
  }
}

/* Screens bigger than 1100px */
@media screen and (min-width: 1100px) {
  .top_background {
    top: 0;
    left: -80px;
  }
  
  .bottom_background {
    bottom: 0;
    right: -150px;
  }

  .main__phone_container {
    justify-self: end;
  }
}
