:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-violet: hsl(271, 36%, 24%);
  --grayish-violet: hsl(270, 7%, 64%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}

body {
  font: 16px "Rubik", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--white);
  overflow: hidden; /* To hide horizontal scrollbar of bottom background */
}

.root_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr;
  flex: 1;
}

.top_background {
  width: 600px;
  height: 600px;
  background: linear-gradient(var(--light-magenta), var(--light-violet));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: -150px;
  left: -420px;
  z-index: -1;
}

.bottom_background {
  width: 500px;
  height: 600px;
  background-color: var(--light-grayish-violet);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  z-index: -1;
  bottom: -250px;
  right: -250px;
}

.main__text_container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__heading {
  color: var(--very-dark-violet);
  font-weight: 600;
  text-align: center;
}

.text__description {
  color: var(--grayish-violet);
  opacity: 0.8;
  line-height: 1.5;
  text-align: center;
  max-width: 450px;
}

.main__phone_container {
  border: 1px solid var(--white);
  border-radius: 10%;
  padding: 30px;
  background-color: var(--white);
  max-width: 450px;
}

.phone__inner_container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--light-grayish-violet);
}

.phone__camera {
  background-color: var(--white);
  width: 200px;
  height: 35px;
  border-radius: 48px;
  margin-top: -15px;
  align-self: center;
}

.phone__header {
  background: linear-gradient(45deg, var(--light-violet), var(--light-magenta));
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.header__inner_container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  color: var(--white);
  align-items: center;
}

.header__back,
.header__menu {
  text-decoration: none;
  color: var(--white);
}

.contact__name,
.contact__status {
  display: block; /* To get them on separate lines */
}

.contact__status {
  opacity: 0.5;
  margin-top: 3px;
  font-size: 12px;
}

.header__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
}

.header__left_container {
  display: flex;
  flex: 1; /* So it takes the most space */
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
}

.header__left_container > * {
  margin: 0 7px; /* To add spacing between header elements */
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Screens bigger than 500px */
@media screen and (min-width: 500px) {
  .text__heading {
    text-align: center;
  }
}

/* Screens bigger than 750px */
@media screen and (min-width: 750px) {
  .text__description,
  .text__heading {
    align-self: start;
    text-align: left;
  }

  .main_container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Screens bigger than 1000px */
@media screen and (min-width: 1000px) {
  .top_background {
    top: 0;
    left: -80px;
  }

  .bottom_background {
    bottom: 0;
    right: -150px;
  }
}
